In [1]:
import pandas as pd 
import numpy as np

In [2]:

stops_trains = pd.read_csv('./google_transit/stops.txt')
routes_trains = pd.read_csv('./google_transit/routes.txt')
trips_trains = pd.read_csv('./google_transit/trips.txt')
stop_times_trains = pd.read_csv('./google_transit/stop_times.txt')
calendar_trains = pd.read_csv('./google_transit/calendar.txt')

In [3]:

stops_bronx= pd.read_csv('./google_transit_bronx/stops.txt')
routes_bronx = pd.read_csv('./google_transit_bronx/routes.txt')
trips_bronx = pd.read_csv('./google_transit_bronx/trips.txt')
stop_times_bronx = pd.read_csv('./google_transit_bronx/stop_times.txt')
calendar_bronx = pd.read_csv('./google_transit_bronx/calendar.txt')

In [10]:

stops_brooklyn = pd.read_csv('./google_transit_brooklyn/stops.txt')
routes_brooklyn= pd.read_csv('./google_transit_brooklyn/routes.txt')
trips_brooklyn = pd.read_csv('./google_transit_brooklyn/trips.txt')
stop_times_brooklyn = pd.read_csv('./google_transit_brooklyn/stop_times.txt')
calendar_brooklyn= pd.read_csv('./google_transit_brooklyn/calendar.txt')

In [5]:

stops_manhattan = pd.read_csv('./google_transit_manhattan/stops.txt')
routes_manhattan = pd.read_csv('./google_transit_manhattan/routes.txt')
trips_manhattan= pd.read_csv('./google_transit_manhattan/trips.txt')
stop_times_manhattan = pd.read_csv('./google_transit_manhattan/stop_times.txt')
calendar_manhattan= pd.read_csv('./google_transit_manhattan/calendar.txt')

In [11]:

stops_queens = pd.read_csv('./google_transit_queens/stops.txt')
routes_queens  = pd.read_csv('./google_transit_queens/routes.txt')
trips_queens = pd.read_csv('./google_transit_queens/trips.txt')
stop_times_queens  = pd.read_csv('./google_transit_queens/stop_times.txt')
calendar_queens  = pd.read_csv('./google_transit_queens/calendar.txt')

In [12]:

stops_staten_island = pd.read_csv('./google_transit_staten_island/stops.txt')
routes_staten_island= pd.read_csv('./google_transit_staten_island/routes.txt')
trips_staten_island = pd.read_csv('./google_transit_staten_island/trips.txt')
stop_times_staten_island = pd.read_csv('./google_transit_staten_island/stop_times.txt')
calendar_staten_island = pd.read_csv('./google_transit_staten_island/calendar.txt')

In [13]:
# Concatenate stops from all boroughs
stops_combined = pd.concat([stops_manhattan, stops_brooklyn, stops_queens, stops_bronx, stops_staten_island])

# Concatenate routes
routes_combined = pd.concat([routes_manhattan, routes_brooklyn, routes_queens, routes_bronx, routes_staten_island])

# Concatenate trips
trips_combined = pd.concat([trips_manhattan, trips_brooklyn, trips_queens, trips_bronx, trips_staten_island])

# Concatenate stop_times
stop_times_combined = pd.concat([stop_times_manhattan, stop_times_brooklyn, stop_times_queens, stop_times_bronx, stop_times_staten_island])

# Concatenate calendar
calendar_combined = pd.concat([calendar_manhattan, calendar_brooklyn, calendar_queens, calendar_bronx, calendar_staten_island])

,stop_id,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
count,12453.000000,0.0,12453.000000,12453.000000,0.0,0.0,12453.0,0.0
mean,355186.295351,NaN,40.709539,-73.939678,NaN,NaN,0.0,NaN
std,184082.644623,NaN,0.088701,0.109156,NaN,NaN,0.0,NaN
min,100014.000000,NaN,40.502981,-74.252016,NaN,NaN,0.0,NaN
25%,203556.000000,NaN,40.637650,-73.989013,NaN,NaN,0.0,NaN
50%,306565.000000,NaN,40.702678,-73.941156,NaN,NaN,0.0,NaN
75%,500281.000000,NaN,40.771112,-73.873012,NaN,NaN,0.0,NaN
max,984012.000000,NaN,40.912377,-73.701230,NaN,NaN,0.0,NaN