In [1]:
!pip install pandas
!pip install numpy
!pip install matplotlib
# !pip install streamlit

Requirement already satisfied: pandas in ./env/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./env/lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./env/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./env/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in ./env/lib/python3.12/site-packages (2.1.2)
Requirement already satisfied: matplotlib in ./env/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in ./env/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./env/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./env/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in ./env/lib/python3.12/site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in ./env/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in ./env/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./env/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in ./env/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [9]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv("Speeds.csv",nrows=10000) #9 mil rows, maybe load just a segment

In [10]:
df.head()

,Year,Month,Timestamp,Day of Week,Hour of Day,Route ID,Direction,Borough,Route Type,Stop Order,...,Next Timepoint Stop ID,Next Timepoint Stop Name,Next Timepoint Stop Latitude,Next Timepoint Stop Longitude,Road Distance,Average Travel Time,Average Road Speed,Bus Trip Count,Timepoint Stop Georeference,Next Timepoint Stop Georeference
0,2023,10,10/01/2023 09:00:00 PM,Thursday,21,B84,S,Brooklyn,Local,1,...,300590,COZINE AV /ASHFORD ST,40.658352,-73.877775,0.724,4.905558,8.855258,3,POINT (-73.883617 40.666382),POINT (-73.877775 40.658352)
1,2023,10,10/01/2023 09:00:00 AM,Thursday,9,BXM1,N,Bronx,Express,13,...,984006,W 230 ST / BROADWAY,40.877199,-73.906891,1.027,6.160428,10.002557,8,POINT (-73.921405 40.867685),POINT (-73.906891 40.877199)
2,2023,10,10/01/2023 02:00:00 PM,Thursday,14,M11,S,Manhattan,Local,7,...,401459,AMSTERDAM AV/W 129 ST,40.814859,-73.955250,0.441,4.905882,5.393525,17,POINT (-73.954283 40.819614),POINT (-73.95525 40.814859)
3,2023,10,10/01/2023 10:00:00 AM,Thursday,10,B84,S,Brooklyn,Local,1,...,300590,COZINE AV /ASHFORD ST,40.658352,-73.877775,0.724,5.033328,8.630469,6,POINT (-73.883617 40.666382),POINT (-73.877775 40.658352)
4,2023,10,10/01/2023 08:00:00 AM,Thursday,8,M5,N,Manhattan,Limited,43,...,400619,BROADWAY/W 157 ST,40.834257,-73.944519,1.075,11.513334,5.602201,15,POINT (-73.954489 40.820642),POINT (-73.944519 40.834257)

In [11]:
df.columns

Index(['Year', 'Month', 'Timestamp', 'Day of Week', 'Hour of Day', 'Route ID',
       'Direction', 'Borough', 'Route Type', 'Stop Order', 'Timepoint Stop ID',
       'Timepoint Stop Name', 'Timepoint Stop Latitude',
       'Timepoint Stop Longitude', 'Next Timepoint Stop ID',
       'Next Timepoint Stop Name', 'Next Timepoint Stop Latitude',
       'Next Timepoint Stop Longitude', 'Road Distance', 'Average Travel Time',
       'Average Road Speed', 'Bus Trip Count', 'Timepoint Stop Georeference',
       'Next Timepoint Stop Georeference'],
      dtype='object')

In [12]:
#Create multiple grouping dataframes for later processing
bus_route = df.groupby(['Route ID'])
borough = df.groupby(['Borough'])
route_type = df.groupby(['Route Type'])

In [14]:
bus_route['Bus Trip Count'].value_counts()

Route ID  Bus Trip Count
B12       31                15
          30                12
          8                 11
          10                 8
          18                 8
                            ..
X68       14                 3
          16                 3
          15                 2
          17                 2
          10                 1
Name: count, Length: 1534, dtype: int64

In [8]:
sim33c['Bus Trip Count'].value_counts()

Bus Trip Count
8     18
4     16
7     14
10    10
3     10
9      9
6      8
5      5
11     3
2      1
14     1
13     1
Name: count, dtype: int64

In [74]:
temp = sim33c.sort_values(by=['Timestamp'])

In [73]:
temp

,Year,Month,Timestamp,Day of Week,Hour of Day,Route ID,Direction,Borough,Route Type,Stop Order,...,Next Timepoint Stop ID,Next Timepoint Stop Name,Next Timepoint Stop Latitude,Next Timepoint Stop Longitude,Road Distance,Average Travel Time,Average Road Speed,Bus Trip Count,Timepoint Stop Georeference,Next Timepoint Stop Georeference
11126,2023,4,04/01/2023 01:00:00 PM,Tuesday,13,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,28.316670,6.661800,8,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
11394,2023,4,04/01/2023 02:00:00 PM,Tuesday,14,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,27.910410,6.758769,8,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
11350,2023,4,04/01/2023 03:00:00 PM,Tuesday,15,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,26.735424,7.055808,8,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
11398,2023,4,04/01/2023 04:00:00 PM,Tuesday,16,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,28.983342,6.508567,3,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
11185,2023,4,04/01/2023 05:00:00 PM,Tuesday,17,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,29.050008,6.493631,4,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10990,2023,11,11/01/2023 10:00:00 PM,Friday,22,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,24.541668,7.686520,4,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
11014,2023,11,11/01/2023 11:00:00 AM,Friday,11,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,27.499998,6.859638,4,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
7554,2023,11,11/01/2023 11:00:00 AM,Wednesday,11,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,31.759518,5.939637,7,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
10830,2023,11,11/01/2023 12:00:00 PM,Friday,12,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,29.983332,6.291496,5,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)
7573,2023,11,11/01/2023 12:00:00 PM,Wednesday,12,SIM33C,N,Other,Express,24,...,402130,E 23 ST/BROADWAY,40.741142,-73.98879,3.144,33.954168,5.555725,8,POINT (-74.01482 40.70496),POINT (-73.98879 40.741142)

10000