In [1]:
!pip install pandas
!pip install numpy
!pip install matplotlib
# !pip install streamlit

Requirement already satisfied: pandas in ./env/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./env/lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./env/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./env/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in ./env/lib/python3.12/site-packages (2.1.2)
Requirement already satisfied: matplotlib in ./env/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in ./env/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./env/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./env/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in ./env/lib/python3.12/site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in ./env/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in ./env/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./env/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in ./env/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [5]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv("MTA_Bus_Route_Segment_Speeds__Beginning_2023_20241015.csv",nrows=10000) #9 mil rows, maybe load just a segment

In [9]:
df.columns

Index(['Year', 'Month', 'Timestamp', 'Day of Week', 'Hour of Day', 'Route ID',
       'Direction', 'Borough', 'Route Type', 'Stop Order', 'Timepoint Stop ID',
       'Timepoint Stop Name', 'Timepoint Stop Latitude',
       'Timepoint Stop Longitude', 'Next Timepoint Stop ID',
       'Next Timepoint Stop Name', 'Next Timepoint Stop Latitude',
       'Next Timepoint Stop Longitude', 'Road Distance', 'Average Travel Time',
       'Average Road Speed', 'Bus Trip Count', 'Timepoint Stop Georeference',
       'Next Timepoint Stop Georeference'],
      dtype='object')

In [10]:
#Create multiple grouping dataframes for later processing
bus_route = df.groupby(['Route ID'])
borough = df.groupby(['Borough'])
route_type = df.groupby(['Route Type'])

In [40]:
sim33c = df['Route ID'] == "SIM33C"
sim33c = df[sim33c]
sim33c = sim33c.sort_values(by=['Timestamp'])

In [41]:
cols = ['Timepoint Stop Name', 'Next Timepoint Stop Name']
for i in cols:
   print(sim33c[i].value_counts())

Timepoint Stop Name
GREENWICH ST/BATTERY PL    96
Name: count, dtype: int64
Next Timepoint Stop Name
E 23 ST/BROADWAY    96
Name: count, dtype: int64

In [38]:
sim33c

,Year,Month,Timestamp,Day of Week,Hour of Day,Route ID,Direction,Borough,Route Type,Stop Order,...,Next Timepoint Stop ID,Next Timepoint Stop Name,Next Timepoint Stop Latitude,Next Timepoint Stop Longitude,Road Distance,Average Travel Time,Average Road Speed,Bus Trip Count,Timepoint Stop Georeference,Next Timepoint Stop Georeference
9637,2023,9,09/01/2023 01:00:00 AM,Wednesday,1,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,4.345830,8.352835,8,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
9643,2023,9,09/01/2023 01:00:00 PM,Wednesday,13,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,7.435182,4.882193,36,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
9529,2023,9,09/01/2023 02:00:00 AM,Wednesday,2,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,4.744452,7.651045,6,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
9640,2023,9,09/01/2023 02:00:00 PM,Wednesday,14,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,9.727776,3.731582,30,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
9867,2023,9,09/01/2023 03:00:00 AM,Tuesday,3,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,4.337490,8.368895,4,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7633,2023,11,11/01/2023 10:00:00 PM,Wednesday,22,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,5.460252,6.648043,13,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
7359,2023,11,11/01/2023 11:00:00 AM,Wednesday,11,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,6.929886,5.238181,29,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
7373,2023,11,11/01/2023 11:00:00 PM,Wednesday,23,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,4.720830,7.689326,12,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
7698,2023,11,11/01/2023 12:00:00 AM,Wednesday,0,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,4.864998,7.461462,10,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)
7308,2023,11,11/01/2023 12:00:00 PM,Wednesday,12,B12,E,Brooklyn,Local,19,...,301333,EAST NEW YORK AV/UNION ST,40.667597,-73.92141,0.605,7.299408,4.973008,28,POINT (-73.93152 40.663516),POINT (-73.92141 40.667597)